[user]
	name = Sam Thomas
	email = sft89@pm.me
	signingkey = 4EFD83FB40FABF3D
[core]
	excludesfile = ~/.gitignore_global
[pager]
	branch = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
[push]
	default = current
[pull]
	rebase = false
[includeIf "gitdir:/Users/samuel/coveo/"]
	path = /Users/samuel/.gitconfig.coveo
[includeIf "gitdir:/Users/samuel/qubit/"]
  path = /Users/samuel/.gitconfig.coveo
[includeIf "gitdir:/Users/samuel/coveo-platform/"]
  path = /Users/samuel/.gitconfig.coveo
